@media (max-width: 960px){
    .menu-icon{
        display: block;
    }
    .ul{
        position: fixed;
        background: var(--verde-escuro);
        top:0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
    }
    .ul.ativo{
        left: 0;
    }
    main .container{
        flex-direction: column;
    }
    main .container .main-img,
    main .container .main-text{
        width: 100%;
        text-align: center;
    }
    main .container .main-text h1{
        font-size: 4rem;
    }
    main .container .main-text div{
        justify-content: center;
    }
    .resultados .container{
        flex-direction: column;
    }
    .resultados-text,
    .resultados .resultados-numeros{
        width: 100%;
        text-align: center;
    }
    .resultados .resultados-numeros{
        margin-top: 30px;
    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100%;
    }
    .casa .container{
        flex-direction: column-reverse;
    }
    .casa .casa-img,
    .casa .casa-text{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .melhores-lugares .cards{
        flex-direction: column;
    }
    .melhores-lugares .cards .card-item{
        width: 100%;
        margin-top: 50px;
    }
    .newsletter .box-newsletter{
        padding: 50px;
    }
    .newsletter .box-newsletter h2 {
        font-size: 2rem;
    }
    .newsletter .box-newsletter input{
        width: 90%;
    }
    .newsletter .box-newsletter button{
       width: 50%;
       margin-top: 20px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width:440px){
    .resultados .resultados-numeros{
        flex-direction: column;
    } 
    main .container .main-text h1{
        font-size: 3rem;
    }
}